* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'arial';
}

#container {
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 5%;
}

#inner-container {
  height: 85vh;
  width: 50%;
}

.container-holder {
  margin: auto;
  width: 90%;
  margin-top: 10%;
}

.umbrella-img {
  width: 80%;
  margin-left: 10%;
}

#text-container {
  height: 70vh;
  width: 40%;
  text-align: left;
  margin-top: 10%;
}

.title {
  font-size: 70px;
}

.color-selector {
  display: flex;
  gap: 40px;
  margin-top: 5%;
  justify-content: left;
}

.color-selector .selected {
  border: 2px solid grey;
}

.pink,
.blue,
.yellow {
  height: 35px;
  width: 35px;
  background-color: #d9378d;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.blue {
  background-color: #34b5e5;
}

.yellow {
  background-color: #fccf41;
}

.upload-logo {
  margin-top: 5%;
  display: flex;
  align-items: center;
  width: 85%;
  height: 100px;
  justify-self: start;
  padding-left: 2%;
  gap: 30%;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.logo-container {
  width: 25%;
  height: 30px;
  margin-left: 37%;
  margin-top: -15%;
}

.close-icon {
  color: white;
  cursor: default;
  padding-right: 5px;
}

.loader-img {
  margin-top: 50vh;
  height: 120px;
  -webkit-animation: spin 1.6s linear infinite;
  animation: spin 2s linear in;
}

.uploader {
  -webkit-animation: spin 1.6s linear infinite;
  animation: spin 2s linear in;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.file-input {
  position: relative;
  margin-top: 30px;
  width: 85%;
  height: 50px;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.file-input label {
  display: flex;
  align-items: center;
  height: 50px;
  justify-self: start;
  padding-left: 2%;
  gap: 30%;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.upload_btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
